<!DOCTYPE html>
{%extends 'customerapp/base.html'%}
{%block content%}
{% load crispy_forms_tags %}

<div class="container col-sm-4 ">
  <!-- <div class="jumbotron bg-primary text-white"> -->
  <!-- <div class="jumbotron bg-dark text-white"> -->
  <!-- <div class="jumbotron bg-success text-white"> -->
  <!-- <div class="jumbotron" style="background-color:#CFD8DC;"> -->
  <div class="jumbotron" style="background-color:#7ed5f7;">
    <div class="row">
      <div class="col-sm-12">
        <h1>Customer Details</h1><hr>
        <form method="post">
          {{form|crispy}}
          {%csrf_token%}
          <input type="submit" class="btn btn-primary btn-lg" name="" value="Submit">
          <a class="btn btn-danger btn-lg" href="/customerlist">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>

{%endblock%}
