<!DOCTYPE html>
{%extends 'customerapp/base.html'%}
{%block content%}
  <h1>List of Facings</h1>
  <a class="btn btn-success" href="/createfacing">Add Facing</a>
  <a class="btn btn-success" href="/">Goto DashBoard</a>
  <table class="table table-hover table table-striped table table-bordered table table-sm">
    <thead align='center'>
      <th>Facing</th>
    </thead>
      {%for facing in facing_list%}
    <tr align='center'>
      <td>{{facing.name}}</td>
      <td><a class="btn btn-primary" href="/facingdetails/{{facing.id}}">Details</a> <a class="btn btn-warning" href="/updatefacing/{{facing.id}}">Update</a> <a class="btn btn-danger" href="/deletefacing/{{facing.id}}">Delete</a></td>
    </tr>
      {%endfor%}
  </table>
{%endblock%}
