
<!DOCTYPE html>
{%extends 'customerapp/index.html'%}
{%block content%}
<div class="dashboard-box">
  <h2>Master Creation / Updation View</h2>
  <a class="btn btn-success" href="/customerlist">Customer View</a><br>
  <a class="btn btn-success" href="/companylist">Company View</a><br>
  <a class="btn btn-success" href="/blocklist">Blocks View</a><br>
  <a class="btn btn-success" href="/floorlist">Floors View</a><br>
  <a class="btn btn-success" href="/unitlist">Unit View</a><br>
  <a class="btn btn-success" href="/facinglist">Facing View</a><br>
  <a class="btn btn-success" href="/unitcreationlist">Unit Creation View</a><br>
  <a class="btn btn-success" href="/amenitieslist">Amenities</a><br>
  <a class="btn btn-success" href="/unittypelist">Unit Type</a><br>
  <a class="btn btn-success" href="/schemelist">Scheme</a><br>
  <a class="btn btn-success" href="/unitcostinglist">Unit Costing</a>
</div>
{%endblock%}
